.rowCircleDefault,
.rowCircleTransformed {
  height: 106.5dvh;
  width: 106.5dvh;
  transform: translate(-50%, -50%);
}
.columnCircleDefault {
  height: 62dvh;
  width: 62dvh;
}
.rowCircleDefault,
.rowCircleTransformed,
.columnCircleDefault,
.columnCircleTransformed {
  z-index: 5;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: var(--border-width) solid var(--border-color);
  position: absolute;
  overflow: hidden;
  transition: 4s var(--transition-function);
}

/* ułożenie kolumny kół */
.columnCircleDefault:nth-child(1) {
  transform: translate(-50%, -113%);
}
.columnCircleDefault:last-child {
  transform: translate(-50%, 13%);
}
.columnCircleTransformed {
  height: 22dvh;
  width: 22dvh;
}
.columnCircleTransformed:nth-child(1) {
  top: 0;
  transform: translate(-50%, -113%);
}
.columnCircleTransformed:nth-child(2) {
  top: 100dvh;
  transform: translate(-50%, 13%);
}

/* cel animacji: */
.columnCircleToDefault:nth-child(1) {
  transform: translate(-50%, -113%);
  height: 62dvh;
  width: 62dvh;
  top: 50%;
  left: 50%;
}
.columnCircleToDefault:last-child {
  transform: translate(-50%, 13%);
  height: 62dvh;
  width: 62dvh;
  top: 50%;
  left: 50%;
}
.columnCircleToTransformed {
  height: 22dvh;
  width: 22dvh;
}
.columnCircleToTransformed:nth-child(1) {
  top: 0;
}
.columnCircleToTransformed:nth-child(2) {
  top: 100dvh;
}

/* ułożenie rzędu kół */
.rowCircleDefault:nth-child(1) {
  transform: translate(-130%, -50%);
}
.rowCircleDefault:nth-child(2) {
  transform: translate(-80%, -50%);
}
.rowCircleTransformed:nth-child(1) {
  transform: translate(-165%, -50%);
}
.rowCircleTransformed:nth-child(2) {
  transform: translate(-165%, -50%);
}
.rowCircleDefault:nth-child(3) {
  z-index: 6;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowCircleTransformed:nth-child(3) {
  height: 155dvh;
  width: 155dvh;
}
.rowCircleDefault:nth-child(4) {
  transform: translate(-20%, -50%);
}
.rowCircleDefault:nth-child(5) {
  transform: translate(30%, -50%);
}
.rowCircleTransformed:nth-child(4) {
  transform: translate(65%, -50%);
}
.rowCircleTransformed:nth-child(5) {
  transform: translate(65%, -50%);
}

/* cel animacji: */
.rowCircleToDefault:nth-child(1) {
  transform: translate(-130%, -50%);
}
.rowCircleToDefault:nth-child(2) {
  transform: translate(-80%, -50%);
}
.rowCircleToTransformed:nth-child(1) {
  transform: translate(-165%, -50%);
}
.rowCircleToTransformed:nth-child(2) {
  transform: translate(-165%, -50%);
}
.rowCircleToDefault:nth-child(3) {
  z-index: 6;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowCircleToTransformed:nth-child(3) {
  height: 155dvh;
  width: 155dvh;
}
.rowCircleToDefault:nth-child(4) {
  transform: translate(-20%, -50%);
}
.rowCircleToDefault:nth-child(5) {
  transform: translate(30%, -50%);
}
.rowCircleToTransformed:nth-child(4) {
  transform: translate(65%, -50%);
}
.rowCircleToTransformed:nth-child(5) {
  transform: translate(65%, -50%);
}

.rowCircleToDefault:nth-child(3) {
  transform: translate(-50%, -50%);
  height: 106.5dvh;
  width: 106.5dvh;
}
