.titleBadge {
  position: absolute;
  z-index: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20%;
  width: 100%;
  border-width: var(--border-width) 0px var(--border-width) 0px;
  border-color: var(--border-color);
  border-style: solid;
}
.titleBadgeEscape {
  border-style: none;
}

.titleBadge * {
  align-self: center;
}

.button {
  padding: 14px 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--secondary-font);
  text-transform: var(--secondary-font-transform);
  border: solid var(--border-width) transparent;
  box-sizing: border-box;
  transition: border 0.3s;
}
.button:disabled {
  color: initial;
  border-color: transparent;
  cursor: initial;
}
.button:hover {
  border-color: var(--border-color);
}
.button:disabled:hover {
  border-color: transparent;
}

.textContent {
  font-family: var(--primary-font-family);
  font-size: 46px;
  user-select: none;
}

a {
  text-decoration: none;
}
