.selectLabel {
  font-size: 0;
  border: var(--border-width) solid var(--border-color);
  position: relative;
}
.selectOptions {
  border: none;
  width: var(--option-width);
  height: 35px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* applied this so on arrow img click, it passes through without any problems to the select */
  background-color: transparent;
  position: relative;
  z-index: 2;
}
