.paniniCreator {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--primary-spacing);
  width: 44dvw;
  margin: calc(var(--primary-spacing) * 2) auto;
}

.formsInterface {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formsLabel {
  font-size: var(--h2-size);
  font-family: var(--primary-font-family);
  text-transform: capitalize;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: var(--border-width) solid transparent;
  background-color: white;
  padding: var(--secondary-spacing) var(--primary-spacing);
  font: var(--secondary-font);
  text-transform: var(--secondary-font-transform);
}

.button:hover {
  border: var(--border-width) solid var(--border-color);
}

.diceIcon {
  max-height: 17px;
  max-width: 15px;
  font-size: 0px;
}
.wheatIcon {
  max-height: 20px;
  max-width: 20px;
  font-size: 0px;
}

.formSections {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--border-width) * 2) 0;
  gap: calc(var(--border-width) * 2);
  background-color: var(--border-color);
}

.formsSubmitLabel {
  font-size: 0;
  width: 100%;
}
.formsSubmitInterfaceWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formsSubmit,
.formsReset {
  transition: 0.2s var(--transition-function);
  text-transform: uppercase;
  font: var(--secondary-font);
  padding: var(--secondary-spacing) var(--primary-spacing);
}

.formsSubmit {
  width: 100%;
  background-color: var(--border-color);
  color: white;
  border: var(--border-width) solid var(--border-color);
}
.formsSubmit:hover {
  border: var(--border-width) solid white;
  text-decoration: underline;
}

.formsReset {
  transition: border 0.4s;
  width: fit-content;
  color: var(--border-color);
  background-color: transparent;
  border: var(--border-width) solid transparent;
  margin: auto;
}
.formsReset:hover {
  border: var(--border-width) solid var(--border-color);
}
.formsResetNavLink {
  margin: auto;
}
