.paniniCreator {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--primary-spacing);
  width: 44dvw;
  margin: calc(var(--primary-spacing) * 2) auto;
}

.formsInterface {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formsLabel {
  font-size: var(--h2-size);
  font-family: var(--primary-font-family);
  text-transform: capitalize;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: var(--border-width) solid transparent;
  background-color: white;
  padding: var(--secondary-spacing) var(--primary-spacing);
  font: var(--secondary-font);
  text-transform: var(--secondary-font-transform);
  transition: border 0.3s var(--transition-function);
}

.formSections {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--border-width) * 2) 0;
  gap: calc(var(--border-width) * 2);
  background-color: var(--border-color);
}

.formsSubmitLabel {
  font-size: 0;
  width: 100%;
}
.formsSubmitInterfaceWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formsSubmit,
.formsReset {
  transition: 0.2s var(--transition-function);
  text-transform: uppercase;
  font: var(--secondary-font);
  padding: var(--secondary-spacing) var(--primary-spacing);
  cursor: pointer;
}

.formsSubmit {
  width: 100%;
  background-color: var(--border-color);
  color: white;
  border: var(--border-width) solid var(--border-color);
  text-decoration: underline transparent;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}
.formsSubmit:hover {
  border: var(--border-width) solid white;
  text-decoration: underline white;
}

.formsReset {
  transition: border 0.4s var(--transition-function);
  width: fit-content;
  color: var(--border-color);
  background-color: transparent;
  border: var(--border-width) solid transparent;
  margin: auto;
}
.formsReset:hover {
  border: var(--border-width) solid var(--border-color);
}
.formsResetNavLink {
  margin: auto;
}

.formsReset__submitted,
.formsSubmit__submitted {
  cursor: default;
  border: none;
}
.formsReset__submitted:hover,
.formsSubmit__submitted:hover {
  cursor: default;
  border: none;
}
.formsSubmit__submitted {
  border: var(--border-width) solid var(--border-color);
  text-decoration: none;
  color: var(--special-color);
  background-color: #333;
}
.formsSubmit__submitted:hover {
  border: var(--border-width) solid var(--border-color);
  text-decoration: none;
}

.formSaveErrorWrapper {
  position: fixed;
  z-index: 100;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.formSaveError {
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 4vh;
  font-family: var(--primary-font-family);
  align-items: center;
  border: var(--border-width) solid var(--border-color);
  text-align: center;
  background-color: white;
  padding: 5vh 5vw;
}

.formSaveErrorButton {
  width: 6dvw;
  height: 6dvh;
  border: var(--border-width) solid var(--border-color);
  background-color: white;
  font: var(--secondary-font);
  font-size: 2vh;
  text-transform: uppercase;
  transition: 0.2s var(--transition-function);
}

.formSaveErrorButton:hover {
  width: 6.5dvw;
  height: 6.5dvh;
}
