.formSection {
  width: 100%;
  display: grid;
  grid-template-columns: 20fr 10fr 70fr;
  grid-template-areas: "title removal option";
  grid-template-rows: auto;
  background-color: white;
  padding: var(--primary-spacing) 0;
}

.formSectionTitleWrapper {
  grid-area: title;
  display: grid;
  grid-template-rows: clamp(27px, 100%, 35px) 1fr;
}

.formSectionTitle {
  display: flex;
  font-family: var(--primary-font-family);
  font-size: var(--h4-size);
  height: max-content;
  align-content: center;
  align-self: center;
  text-transform: capitalize;
}

.optionsWrapper {
  grid-area: option;
  display: grid;
  grid-template-rows: auto;
  gap: var(--form-section-content-spacing);
  justify-content: right;
  font: var(--secondary-font);
}

.checkboxButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.swipeOptionPartingWrapper {
  justify-self: right;
  width: var(--option-width);
  height: calc(var(--border-width) * 2);
}

.swipeOptionParting {
  width: 60px;
  height: 100%;
  background-color: black;
  justify-self: right;
  border: none;
  margin: auto;
}
