.formSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.formSectionRecord {
  width: 100%;
  display: grid;
  grid-template-columns: 20fr 10fr 70fr;
  grid-template-rows: auto;
  background-color: white;
  padding: var(--primary-spacing) 0;
}

.formSectionRecordTitle {
  grid-column: 1/2;
  display: flex;
  font-family: var(--primary-font-family);
  font-size: var(--h4-size);
  height: max-content;
  align-content: center;
  align-self: center;
  text-transform: capitalize;
}

.swipeOptionPartingWrapper {
  grid-column: -3/4;
  justify-self: right;
  width: 100%;
  background-color: white;
  height: calc(var(--border-width) * 2);
  display: flex;
  justify-content: right;
}

.swipeOptionParting {
  width: 60px;
  height: 100%;
  background-color: var(--border-color);
  justify-self: right;
  border: none;
  /* center it under option*/
  margin-right: calc(var(--option-width) / 2 - 30px);
}
