@import "../../../style/vars/fonts.css";

.splash-screen {
  height: 100dvh;
  overflow: hidden;
  position: relative;
  transition: 4s cubic-bezier(0.75, 0.03, 0.58, 1);
  opacity: 1;
}
.splash-screen--escape {
  opacity: 0;
}

/* ułożenie kolumny kół */
/* ZMNIEJSZAJĄ SIĘ i ZNIKAJĄ */
.circle-column__circle:nth-child(1) {
  transform: translate(-50%, -113%);
}
.circle-column__circle:nth-child(2) {
  transform: translate(-50%, 13%);
}
.circle-column__circle--escape {
  height: 22dvh;
  width: 22dvh;
}
.circle-column__circle--escape:nth-child(1) {
  top: 0;
}
.circle-column__circle--escape:nth-child(2) {
  top: 100dvh;
}

/* ułożenie rzędu kół */
/* lecą w lewo. */
.circle-row__circle:nth-child(1) {
  transform: translate(-130%, -50%);
}
.circle-row__circle:nth-child(2) {
  transform: translate(-80%, -50%);
}
.circle-row__circle--escape:nth-child(1) {
  transform: translate(-165%, -50%);
}
.circle-row__circle--escape:nth-child(2) {
  transform: translate(-165%, -50%);
}
/* zwiększa się że aż znika */
.circle-row__circle:nth-child(3) {
  z-index: 6;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-row__circle--escape:nth-child(3) {
  height: 155dvh;
  width: 155dvh;
  /* transform: translate(-50%, -50%) scale(2); */
}
/* lecą w prawo */
.circle-row__circle:nth-child(4) {
  transform: translate(-20%, -50%);
}
.circle-row__circle:nth-child(5) {
  transform: translate(30%, -50%);
}
.circle-row__circle--escape:nth-child(4) {
  transform: translate(65%, -50%);
}
.circle-row__circle--escape:nth-child(5) {
  transform: translate(65%, -50%);
}
