@import "../../../style/vars/borders.css";
.title-badge {
  position: absolute;
  z-index: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20%;
  width: 100%;
  border-width: var(--border-width) 0px var(--border-width) 0px;
  border-color: black;
  border-style: solid;
}
.title-badge--escape {
  border-style: none;
}

.title-badge * {
  align-self: center;
}

.title-badge button {
  padding: 14px 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--secondary-font);
  text-transform: var(--secondary-font-transform);
  border: solid var(--border-width) transparent;
  box-sizing: border-box;
  transition: border 0.3s;
}
.title-badge button:disabled {
  color: initial;
}

.title-badge button:hover {
  border: solid var(--border-width) black;
}
.title-badge button:disabled:hover {
  border: none;
}

.title-badge h1 {
  font-family: var(--primary-font-family);
  font-size: 46px;
  user-select: none;
}
