.splashScreenDefault,
.splashScreenTransformed {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  transition: opacity 4s var(--transition-function);
  background-color: white;
  z-index: 10;
}
.splashScreenDefault {
  opacity: 1;
}
.splashScreenTransformed {
  opacity: 0;
}
.toDefaultTransition {
  opacity: 1;
}
.toTransformedTransition {
  opacity: 0;
  transition: opacity 4s var(--transition-function);
}
