.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: var(--border-width) solid transparent;
  background-color: var(--background-color);
  padding: var(--secondary-spacing) var(--primary-spacing);
  font: var(--secondary-font);
  text-transform: var(--secondary-font-transform);
  transition: border 0.3s var(--transition-function);
}

.button:hover {
  border: var(--border-width) solid var(--border-color);
}
.dicesContainer {
  position: relative;
}

.diceIcon {
  font-size: 0px;
  transition: var(--transition-function) 0.3s;
}

.diceIcon:first-child {
  position: relative;
  right: 5px;
  top: 8.5px;
}

.diceIcon:last-child {
  position: relative;
  top: -8.5px;
}

.button:hover .diceIcon:first-child {
  /* transform: rotate3D(1, 0, 0, 180deg); */
  top: 1px;
  right: 4.5px;
  transform: rotate(45deg);
}

.button:hover .diceIcon:last-child {
  /* transform: rotate3D(1, 0, 0, 180deg); */
  top: -1px;
  transform: rotate(-65deg);
}
