.wheatIcon {
  max-height: 20px;
  max-width: 20px;
  font-size: 0px;
}

.selectArrow {
  font-size: 0px;
  position: absolute;
  width: 14px;
  right: 9px;
  top: calc((35px - 7px) / 2);
  z-index: 2;
}
.selectArrowActive {
  transform: rotate(180deg);
}
